<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="full-screen" content="yes">
    <meta content="default" name="apple-mobile-web-app-status-bar-style">
    <link rel="stylesheet" href="/static/styles/chat.css">
    <script src="/dist/scripts/bundle.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="pullDown" id="ptr">
            <!-- Pull down arrow indicator -->
            <span class="genericon genericon-next"></span>
            <!-- CSS-based loading indicator -->
            <div class="loading">
                <span id="l1"></span>
                <span id="l2"></span>
                <span id="l3"></span>
            </div>
        </div>
        <div class="chatPanel">
            <div class="timeBlock">今天
                <%
                const now = new Date();
                const hours = now.getHours()<10?"0"+now.getHours():now.getHours();
                const minutes = now.getMinutes()<10?"0"+now.getMinutes():now.getMinutes();
                const time = hours+":"+minutes;
                %>
                <%=time %></div>
            <div class="messageLeft">
                <div class="avatar"></div>
                <div class="nick"></div>
                <div class="msgWrapper">
                    <div class="msg">
                        Hello World!
                    </div>
                </div>
            </div>
            <div class="messageLeft">
                <div class="avatar"></div>
                <div class="nick"></div>
                <div class="msgWrapper">
                    <div class="msg">
                        这是一个匿名聊天应用，可以多个用户一起发送匿名内容。现在还是一个简单的展示，后续会加入更多功能！
                    </div>
                </div>
            </div>
            <!--<div class="infoBlock">1个小伙伴加入了群聊</div>-->
            <div class="messageRight">
                <div class="avatar"></div>
                <div class="nick"></div>
                <div class="msgWrapper">
                    <div class="msg">
                        Hello Message
                    </div>
                </div>
            </div>
        </div>
        <div class="inputPanel">
            <div class="inputBar">
                <div class="leftIcon"></div>
                <div class="inputBox" id="inputBox" contenteditable="true" placeholder="开始匿名畅聊吧"></div>
                <div class="rightIcon"></div>
            </div>
            <div class="actionPanel" id="actionPanel">
                <ul class="actions">
                    <li>
                        <i class="newChat"></i>
                        新建会话
                    </li>
                    <li>
                        <i class="closeChat"></i>
                        退出群组
                    </li>
                    <li>
                        <i class="aboutUs"></i>
                        关于我们
                    </li>
                </ul>
            </div>
        </div>
        <div id="messageBox">
            
        </div>
    </div>
</body>
</html>