<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable"><meta content="yes" name="apple-touch-fullscreen">
    <meta name="full-screen" content="yes">
    <meta content="default" name="apple-mobile-web-app-status-bar-style">
    <link rel="stylesheet" href="/static/styles/chat.css">
</head>
<body>
    <div class="wraper">
        <div class="pullDown"></div>
        <div class="chatPanel">
            <div class="timeBlock">今天 20:20</div>
            <div class="messageLeft">
                <div class="avatar"></div>
                <div class="nick"></div>
                <div class="msgWrapper">
                    <div class="msg">
                        Hello Message
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>